@* Views/Catalog/Index.cshtml *@

<div class="catalog">
    <h4>Каталог</h4>
    <div class="row">
        <!-- Пример карточки товара -->
        <div class="col-md-4 col-lg-3 mb-4">
            <div class="card">
                <img src="~/images/stock/iphone14.jpg" class="card-img-top" alt="Смартфон Apple iPhone 14 128GB">
                <div class="card-body text-center">
                    <h6 class="card-title">Смартфон Apple iPhone 14 128GB</h6>
                    <p><s>87 999 ₽</s> <span class="text-danger">84 999 ₽</span> <span class="badge badge-warning">-4%</span></p>
                    <button class="btn btn-primary">В корзину</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 mb-4">
            <div class="card">
                <img src="~/images/stock/iphone16.jpg" class="card-img-top" alt="Смартфон Apple iPhone 16 128GB Black">
                <div class="card-body text-center">
                    <h6 class="card-title">Смартфон Apple iPhone 16 128GB Black</h6>
                    <p><s>116 872 ₽ ₽</s> <span class="text-danger">95 446 ₽</span> <span class="badge badge-warning">-4%</span></p>
                    <button class="btn btn-primary">В корзину</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 mb-4">
            <div class="card">
                <img src="~/images/stock/iphone14.jpg" class="card-img-top" alt="Смартфон Apple iPhone 14 128GB">
                <div class="card-body text-center">
                    <h6 class="card-title">Смартфон Apple iPhone 14 128GB</h6>
                    <p><s>87,999 ₽</s> <span class="text-danger">84,999 ₽</span> <span class="badge badge-warning">-4%</span></p>
                    <button class="btn btn-primary">В корзину</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 mb-4">
            <div class="card">
                <img src="~/images/stock/iphone14.jpg" class="card-img-top" alt="Смартфон Apple iPhone 14 128GB">
                <div class="card-body text-center">
                    <h6 class="card-title">Смартфон Apple iPhone 14 128GB</h6>
                    <p><s>87,999 ₽</s> <span class="text-danger">84,999 ₽</span> <span class="badge badge-warning">-4%</span></p>
                    <button class="btn btn-primary">В корзину</button>
                </div>
            </div>
        </div>
        <!-- Повторите блок для других товаров -->
    </div>
</div>
