.banner .card {
    border: none;
    height: 200px;
    overflow: hidden;
}

.banner .card img {
    opacity: 0.7;
    object-fit: cover;
    width: 100%;
}

/* Увеличиваем изображения в каталоге */
.catalog .catalog-icon {
    max-width: 120px; /* Увеличьте размер изображения, например, до 80px */
    margin-bottom: 50px;
}

/* Увеличиваем текст под изображением */
.catalog p {
    font-size: 1.2rem; /* Увеличиваем размер текста под изображением */
}


.banner .card-img-overlay {
    text-align: left; /* Выравнивание текста по левому краю */
    top: 10%; /* Смещаем блок текста чуть ниже верхней границы */
    left: 5%; /* Смещаем блок текста чуть правее левой границы */
    transform: translate(0, 0); /* Сбрасываем центровку по центру */
    max-width: 60%; /* Ограничиваем ширину текста для лучшего отображения */
}

.banner .card-title {
    font-size: 2rem; /* Увеличенный размер заголовка */
    font-weight: bold;
}

.banner .card-text {
    font-size: 1.5rem; /* Увеличенный размер текста */
    font-weight: normal;
}



.banner .card-img-overlay {
    text-align: left;
}

.catalog-icon {
    max-width: 60px;
    margin-bottom: 10px;
}

.promotions .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.promotions .card-body {
    text-align: center;
}

.promotions .card-title {
    font-size: 1rem;
}

.catalog a {
    color: inherit; /* Наследуем цвет от родителя, чтобы текст не выглядел как ссылка */
    text-decoration: none; /* Убираем подчеркивание */
}

.catalog a:hover {
        color: inherit; /* Оставляем цвет без изменений при наведении */
        text-decoration: none; /* Убираем подчеркивание при наведении */
}

.catalog p {
    margin: 0;
}

.row text-center mt-3 {
    text-decoration: none;
}

.catalog {
    padding: 20px;
    text-align: center;
}

    .catalog h4 {
        font-size: 24px;
        margin-bottom: 20px;
    }

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 1 1 150px;
    max-width: 150px;
    margin: 10px;
    text-align: center;
}

.catalog-icon {
    max-width: 100%;
    height: auto;
}

.catalog a {
    color: inherit;
    text-decoration: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
}

.modal-dialog {
    background: white;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    padding: 15px;
    position: relative;
}

.btn-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

